head
  h1 Login

body#LoginForm
  .container
    .Login-form
       .main-div
         .panel
           h2 Forgot your password?
           p Check your email account, you'll receive the instructions to reset your password

